h2{
    color: aquamarine;
    text-align: center;
    font-weight: bold;
    font-size: 36px;
    font-style: line;
    text-decoration: underline rgb(120, 194, 175);
    margin-bottom: 100px;
}

img{
    
    width: 200px;
    height: 100px;
    
    border-radius: 20px;
}
.container{
    display: flex;
    column-gap: 10px;
    text-align: center;
    grid-row: auto;
    content: center;
    margin-left: 20%;
    
}


img:hover{
    border:2px solid black;
}

p{
    text-align: center;
   
   font-weight: bold;
   background-color: rgb(131, 176, 166);
   padding: 50px 10px 50px 50px;
   margin: 350px;
   margin-top: 10px;
}